/* --- body: CONSTANT FOR ALL --- */
body {
  font-family: Arial, sans-serif;
  background-color: #545454;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("salle1_image.jpg");
  background-size: contain; /* auto, contain, cover ou 200px 100px */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* --- Boutons --- */
button {
padding: 10px 20px;
background-color: #6b3e00;
color: #ffffff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

button:hover {
background-color: #563200;
}

/* --- Bouton vérifier --- */
#verifierButton {
position: absolute;
top: 150px;
left: 65px;
}

/* --- Input message décrypté --- */
#messageInput {
position: absolute;
top: 100px;
left: 10px;
width: 190px;
padding: 10px;
border-radius: 5px;
border: 1px solid #6b3e00;
}

/* --- Porte --- */
.door {
  position: absolute;
  top: 50%; /* Ajustez cette valeur pour positionner correctement la porte */
  left: 40%; /* Ajustez cette valeur pour positionner correctement la porte */
  width: 10%; /* Ajustez cette valeur à la taille de la porte */
  height: 60%; /* Ajustez cette valeur à la taille de la porte */
  transform: translate(-50%, -50%);
  text-indent: -9999px; /* Cache le texte du lien */
  background-color: rgba(255, 255, 255, 0); /* Rendre le lien transparent */
  cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
}

.door_pop {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background-image: url('porte_pop.png'); /* Replace with your shelf popup image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2
}
  
.door_pop.visible {
  visibility: visible;
}

/* --- Icône Indice --- */
#indice {
width: 3%;
height: auto;
position: absolute;
top: 20px;
left: 1130px;
cursor: pointer;
}

/* --- Icône Journal --- */
#journal {
width: 3%;
height: auto;
position: absolute;
top: 18px;
left: 1200px;
cursor: pointer;
}

/* --- Timer --- */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.timer {
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 6.2%;
  left: 71%;
  transform: translate(-50%, -50%);
}

#timer-display {
  font-size: 1.7em;
  margin-bottom: 0px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c82333;
}

#playButton {
  position:absolute;
  top:5%;
  right:5%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

/* --- Journal ouvert --- */
.notebook {
display: none;
position: fixed;
top: 20%;
left: 50%;
transform: translate(-50%, -20%);
width: 800px;
height: 500px;
background-image: url('notebook_image.png'); /* Replace with your notebook image */
background-size: contain;
background-repeat: no-repeat;
background-position: center;
padding: 10px;
z-index: 3;
}

.notebook-header {
text-align: right;
}

/* --- Dialogues --- */
.dialog {
display: none; /* Cacher les dialogues par défaut */
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
justify-content: center;
align-items: flex-end; /* Aligner les dialogues en bas */
padding-bottom: 20px; /* Ajouter de l'espace en bas pour le dialogue */
}

.dialog-content {
background-color: white;
padding: 20px;
border-radius: 5px;
text-align: center;
width: 80%;
max-width: 600px; /* Largeur maximale du dialogue */
position: relative;
margin-bottom: 10px; /* Ajouter un espace entre les dialogues et le bord */
margin-left: 160px; /* Ajouter de l'espace pour l'image à gauche */
}

.dialog-image {
position: fixed;
bottom: 5px;
left: 100px;
width: 300px; /* Taille fixe de l'image */
height: auto;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre pour l'image */
}

.close-btn {
position: absolute;
top: 10px;
right: 10px;
font-size: 20px;
cursor: pointer;
}

.next-btn, .next-salle-btn, .finish-btn {
margin-top: 10px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}


/* --- Cliquable 1 --- */
#livre {
width: 2.2%;
height: auto;
position: absolute; /* Utilisez 'absolute' pour pouvoir positionner l'image */
top: 48%; /* Ajustez la distance du haut de la page */
left:29%; /* Ajustez la distance du côté gauche de la page */
cursor: pointer;
z-index: 1;
}

.postit_pop {
visibility: hidden; /* Initially hidden */
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -20%) scale(20); /* Scale the image to 300% */
width: auto;
height: auto;
background-image: url('livre_pop.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding: 10px;
cursor: pointer;
z-index: 2;
}

.postit_pop.visible {
visibility: visible; /* Show pop-up */
}