/* --- body: CONSTANT FOR ALL --- */
body {
  font-family: Arial, sans-serif;
  background-color: #545454;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("Salle4_image.jpg");
  background-size: contain; /* auto, contain, cover ou 200px 100px */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* --- Bouton vérifier --- */
button {
padding: 10px 20px;
background-color: #6b3e00;
color: #ffffff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

button:hover {
background-color: #563200;
}

#verifierButton {
position: absolute;
top: 150px;
left: 65px;
}

/* --- Input message décrypté --- */
#messageInput {
position: absolute;
top: 100px;
left: 10px;
width: 190px;
padding: 10px;
border-radius: 5px;
border: 1px solid #6b3e00;
}

/* --- Porte --- */
.door {
  position: absolute;
  top: 48%; /* Ajustez cette valeur pour positionner correctement la porte */
  left: 72%; /* Ajustez cette valeur pour positionner correctement la porte */
  width: 100px; /* Ajustez cette valeur à la taille de la porte */
  height: 300px; /* Ajustez cette valeur à la taille de la porte */
  transform: translate(-50%, -50%);
  text-indent: -9999px; /* Cache le texte du lien */
  background-color: rgba(255, 255, 255, 0); /* Rendre le lien transparent */
  cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
}

.door_pop {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background-image: url(Door-pop-salle4.png); /* Replace with your shelf popup image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2
}
  
.door_pop.visible {
  visibility: visible;
}

/* --- Icône Indice --- */
#indice {
width: 3%;
height: auto;
position: absolute;
top: 20px;
left: 1130px;
cursor: pointer;
}

/* --- Indice popup --- */
.hint {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 23%;
  height: 10%;
  background-image: url('../../images\ utiles/ask_hint.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}
  
.hint.visible {
  visibility: visible;
}

/* --- Utiliser l'indice --- */
#useButton {
  position: absolute;
  transform: translate(-50%, -50%) scale(0.5);
  top: 30%;
  left: 88%;
}

/* --- Ne pas Utiliser l'indice --- */
#dontuseButton {
  position: absolute;
  transform: translate(-50%, -50%) scale(0.5);
  top: 70%;
  left: 88%;
}

.hintText {
  position: absolute;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 0.9em;
  text-align: center;
  width: 72%;
}

/* --- Donner l'indice --- */
.hint_given {
  visibility: hidden;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 30%;
  height: 30%;
  background-image: url('../../images\ utiles/hint_given.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index:11;
}

.hint_given.visible {
  visibility: visible;
}

/* --- Icône Journal --- */
#journal {
width: 3%;
height: auto;
position: absolute;
top: 18px;
left: 1200px;
cursor: pointer;
}

/* --- Timer --- */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.timer {
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 6.2%;
  left: 71%;
  transform: translate(-50%, -50%);
}

#timer-display {
  font-size: 1.7em;
  margin-bottom: 0px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c82333;
}

#playButton {
  position:absolute;
  top:5%;
  right:5%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}


/* --- Journal ouvert --- */
.notebook {
display: none;
position: fixed;
top: 20%;
left: 50%;
transform: translate(-50%, -20%);
width: 800px;
height: 500px;
background-image: url('Carnet\ salle\ 4.png'); /* Replace with your notebook image */
background-size: contain;
background-repeat: no-repeat;
background-position: center;
padding: 10px;
z-index: 3;
}

.notebook-header {
text-align: right;
}

/* --- Dialogues --- */
.dialog {
display: none; /* Cacher les dialogues par défaut */
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
justify-content: center;
align-items: flex-end; /* Aligner les dialogues en bas */
padding-bottom: 20px; /* Ajouter de l'espace en bas pour le dialogue */
z-index: 3;
}

.dialog-content {
background-color: white;
padding: 20px;
border-radius: 5px;
text-align: center;
width: 80%;
max-width: 600px; /* Largeur maximale du dialogue */
position: relative;
margin-bottom: 10px; /* Ajouter un espace entre les dialogues et le bord */
margin-left: 160px; /* Ajouter de l'espace pour l'image à gauche */
}

.dialog-image {
position: fixed;
bottom: 5px;
left: 100px;
width: 300px; /* Taille fixe de l'image */
height: auto;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre pour l'image */
}

.close-btn {
position: absolute;
top: 10px;
right: 10px;
font-size: 20px;
cursor: pointer;
}

.next-btn, .close-all-btn {
margin-top: 10px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}


/* --- Cliquable 1 --- */
#cube {
width: 20%;
height: auto;
position: absolute; /* Utilisez 'absolute' pour pouvoir positionner l'image */
top: 55%; /* Ajustez la distance du haut de la page */
left: 45%; /* Ajustez la distance du côté gauche de la page */
cursor: pointer;
z-index: 1;
}

.cube_pop {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(15);
  width: 20px;
  height: 50px;
  background-image: url('written_cube.png'); /* Replace with your shelf popup image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2;
  }
  
.cube_pop.visible {
visibility: visible;
  }

/* --- Cliquable 2 --- */
.box_pop {
visibility: hidden;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(5);
width: 500px;
height: 50px;
background-image: url('cartes.jpg'); /* Replace with your shelf popup image */
background-size: contain;
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
z-index: 2;
}

.box_pop.visible {
visibility: visible;
}

.box{
position: absolute;
top: 75%; /* Ajustez cette valeur pour positionner correctement la porte */
left: 25%; /* Ajustez cette valeur pour positionner correctement la porte */
width: 150px; /* Ajustez cette valeur à la taille de la porte */
height: 150px; /* Ajustez cette valeur à la taille de la porte */
transform: translate(-50%, -50%);
text-indent: -9999px; /* Cache le texte du lien */
background-color: rgba(255, 255, 255, 0); /* Rendre le lien transparent */
cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
}

/* --- Pop-up inter-carnet --- */
.cesar {
  position: absolute;
  top: 10%; /* Ajustez cette valeur pour positionner correctement la porte */
  left: 60%; /* Ajustez cette valeur pour positionner correctement la porte */
  width: 100px; /* Ajustez cette valeur à la taille de la porte */
  height: 50px; /* Ajustez cette valeur à la taille de la porte */
  transform: translate(-50%, -50%);
  text-indent: -9999px; /* Cache le texte du lien */
  background-color: rgba(255, 255, 255, 0); /* Rendre le lien transparent */
  cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
}

.cesar_pop {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3.5);
  width: 30%;
  height: 30%;
  background-image: url('../Carnet/Carnet\ César.png'); /* Replace with your shelf popup image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2
}
  
.cesar_pop.visible {
  visibility: visible;
}

.vigenere {
  position: absolute;
  top: 10%; /* Ajustez cette valeur pour positionner correctement la porte */
  left: 65%; /* Ajustez cette valeur pour positionner correctement la porte */
  width: 100px; /* Ajustez cette valeur à la taille de la porte */
  height: 50px; /* Ajustez cette valeur à la taille de la porte */
  transform: translate(-50%, -50%);
  text-indent: -9999px; /* Cache le texte du lien */
  background-color: rgba(255, 255, 255, 0); /* Rendre le lien transparent */
  cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
}

.vigenere_pop {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3.5);
  width: 30%;
  height: 30%;
  background-image: url('../Carnet/Carnet\ Vigenère.png'); /* Replace with your shelf popup image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2
}
  
.vigenere_pop.visible {
  visibility: visible;
}

/* --- Pop-up final --- */
.dialog-image-fin {
  transform: scale(2.5);
  position: fixed;
  bottom: 50%;
  left: 40%;
  width: 300px; /* Taille fixe de l'image */
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre pour l'image */
  z-index: 10000;
}