/* Style général */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #545454, #3f3f3f);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

/* Style du conteneur */
.container {
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Style du texte */
.container p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333;
}

/* Style du bouton */
button {
  padding: 12px 25px;
  background-color: #56008f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #430063;
  transform: scale(1.05);
}

button:active {
  background-color: #8a00e6;
}

/* Effets responsives */
@media (max-width: 480px) {
  .container {
    padding: 15px 20px;
  }

  .container p {
    font-size: 1em;
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
