body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("Image\ d\'acceuil.jpg");
  background-size: contain; /* auto, contain, cover ou 200px 100px */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  text-align: center;
}

.screen {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.fr-button {
  position: absolute;
  top:35%;
  left:52%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: url('flag_fr.png');
  background-size: cover; /* Ajuste l'image pour couvrir tout le bouton */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image dans le bouton */
  width: 100px;
  height: 50px;
  text-indent: -9999px; /* Cache le texte du lien */
}

.en-button {
  position:absolute;
  top: 35%;
  left:45%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: url('flag_en.png');
  background-size: cover; /* Ajuste l'image pour couvrir tout le bouton */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image dans le bouton */
  width: 100px;
  height: 50px;
  text-indent: -9999px; /* Cache le texte du lien */
}